# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Autosave files
*~

# Build/test output
obj
bin
test-results
*.orig

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user
*.pbd

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# Executables
*.exe
*.out
*.app
